<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tk.zwander.oneuituner">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="projekt.samsung.theme.compiler.IMPORT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".BCRRebootActivity"
            android:exported="false"
            />
        <activity android:name=".HexActivity"
            android:enabled="false"
            android:exported="true"
            android:theme="@style/AppTheme.Transparent">
            <meta-data android:name="HEX_PLUGIN_NAME" android:value="@string/app_name"/>
            <meta-data android:name="HEX_PLUGIN_AUTHOR" android:value="@string/plugin_authors"/>
            <meta-data android:name="HEX_CONFIG" android:value="1"/>
            <meta-data android:name="HEX_DAY_NIGHT_PLUGIN" android:value="true"/>
            <meta-data android:name="HEX_PLUGIN_INFO" android:value="true"/>
            <meta-data android:name="HEX_PLUGIN_INFO_IMAGES" android:value="true"/>
            <meta-data android:name="HEX_PLUGIN_DEFAULT_PROJECT" android:value="true"/>
            <meta-data android:name="HEX_PLUGIN_EXTRA_PREFERENCES" android:value="true"/>
            <meta-data android:name="HEX_COMMON" android:value="true"/>
            <meta-data android:name="HEX_COMMON_BACKGROUND" android:value="false"/>
            <meta-data android:name="HEX_COMMON_BOX" android:value="false"/>
            <meta-data android:name="HEX_COMMON_CONTROL" android:value="false"/>
            <meta-data android:name="HEX_COMMON_DIALPAD" android:value="false"/>
            <meta-data android:name="HEX_COMMON_ICONS" android:value="false"/>
            <meta-data android:name="HEX_COMMON_KEYBOARD" android:value="false"/>
            <meta-data android:name="HEX_COMMON_NAVBAR" android:value="false"/>
            <meta-data android:name="HEX_COMMON_QS" android:value="false"/>
            <meta-data android:name="HEX_COMMON_SETTINGSICON" android:value="false"/>
            <meta-data android:name="HEX_COMMON_STATUSBAR" android:value="false"/>
            <meta-data android:name="HEX_COMMON_HOME" android:value="false"/>
            <meta-data android:name="HEX_COMMON_MISC" android:value="false"/>
            <intent-filter>
                <action android:name="project.vivid.hex.UI.PLUGIN"/>
            </intent-filter>
        </activity>

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".util.APKProvider"
            android:authorities="tk.zwander.oneuituner.apkprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>